<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Финасовый калькулятор</title>
	<meta name="author" content="Дмитрий Жиляев">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<br>
<section id="app">
<header class="container">
	<div class="form-row">
		<nav class="nav nav-tabs col-10">
			<a class="nav-item nav-link" v-for="n in goals.asArrayOfObj()" @click="setActive(n.prior)" :class="{'active':n.prior==current.prior}"  href="#">
				<b>{{n.name}}</b> #<i>{{n.prior}}</i>
				<button type="button" class="close" @click="deleter(n.prior)" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</a>
			<a class="nav-item nav-link" id="creator" href="#" @click="creator()"><img src="svg/si-glyph-circle-plus.svg" width="16"> Новая цель</a>
		</nav>
		<div class="col-2">
			<a class="btn-primary btn float-lg-right btn-block" href="#" onclick="app.goals.clear()">Очистить localStorage</a>
		</div>
	</div>
</header>
<section class="container">
	<div class="card">
		<div class="card-header">
			<h2><img src="svg/si-glyph-square-star.svg" width="48">&nbsp;{{current.name}} #{{current.prior}} — <small>Процент вклада: <i>{{resultPercent}}</i>%</small></h2>
		</div>
		<div class="card-body">
			<fieldset>
				<div class="form-row">

					<div class="col col-1">
						<label for="prior" title="Приоритет цели">Приоритет</label>
						<select class="form-control custom-select" id="prior" v-model="current.prior">
							<!-- Max prior = count of goals -->
							<option v-for="n in goals.length" :key="goals.length">{{n}}</option>
						</select>
					</div>

					<div class="col">
						<label for="name">Название</label>
						<div class="input-group">
							<span class="input-group-addon"><img src="svg/si-glyph-square-star.svg" width="16"></span>
							<input class="form-control" value="Цель" id="name" v-model="current.name" placeholder="На Яхту">
						</div>
					</div>

					<div class="col col-1">
						<label for="cy">Валюта</label>
						<select class="form-control custom-select" id="cy" v-model="current.cy">
							<option>₽</option>
							<option>$</option>
							<option>€</option>
						</select>
					</div>

					<div class="col">
						<label for="dream" title="Необходимая сумма для достижения цели">Конечная сумма</label>
						<div class="input-group">
							<span class="input-group-addon">{{current.cy}}</span>
							<input class="form-control" min="0" type="number" v-model.number="current.dream" id="dream">
						</div>
					</div>

					<div class="col">
						<label for="date" title="Срок достижения цели">Срок до</label>
						<div class="input-group">
							<label class="input-group-addon"><img src="svg/si-glyph-calendar-1.svg" width="16"></label>
							<input class="form-control" value="2018-05-06" type="date" v-model="current.date" id="date">
						</div>
					</div>
				</div>
			</fieldset>
			<br>
			<fieldset>
				<legend align="center"><h3 class="title">Расчет</h3></legend>
				<form>
					<!-- ROW 1 -->
					<div class="form-row">
						<div class="col">
							<label for="inCom">Доход/месяц</label>
							<div class="input-group">
								<span class="input-group-addon">{{current.cy}}</span>
								<input class="form-control" min="0" type="number" v-model.number="current.inCom" id="inCom">
							</div>
						</div>

						<div class="col">
							<label for="expense">Расход/месяц</label>
							<div class="input-group">
								<span class="input-group-addon">{{current.cy}}</span>
								<input class="form-control" min="0" type="number" v-model.number="current.expense" id="expense">
							</div>
						</div>

						<div class="col">
							<label title="Ежемесячные сбережения">Выручка:</label>
							<div class="input-group">
								= <b>&nbsp;{{current.cy}} {{current.gain = current.inCom - current.expense}} </b>
							</div>
						</div>
					</div>
					<!-- / ROW 1 -->
					<!-- ROW 2 Percent -->
					<div class="form-row">
						<div class="col">
							<label for="brokerPercent" title="Какой процент ежемесячных сбережений вы будете отправлять на брокерский счет">На Брокерский счет</label>
							<div class="input-group">
								<label class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></label>
								<input class="form-control" v-model="current.brokerPercent" min="0" max="100" type="number" id="brokerPercent">
								<span class="input-group-addon" id="broker">{{current.broker = current.gain * current.brokerPercent/100}}</span>
							</div>
						</div>

						<div class="col">
							<label for="pillowPercent" title="в финансовую подушку">Подушка</label>
							<div class="input-group">
								<span class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></span>
								<input class="form-control" min="0" max="100" type="number" v-model="current.pillowPercent" id="pillowPercent">
								<span class="input-group-addon" id="pillow">{{current.pillow = current.gain * current.pillowPercent/100}}</span>
							</div>
						</div>

						<div class="col">
							<label for="reservePercent" title="в резервный фонд">Резерв</label>
							<div class="input-group">
								<span class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></span>
								<input class="form-control" min="0" max="100" type="number" v-model="current.reservePercent" id="reservePercent">
								<span class="input-group-addon" id="reserve">{{current.reserve = current.gain * current.reservePercent/100}}</span>
							</div>
						</div>
					</div>
					<!-- / ROW 2 Percent -->
					<!-- ROW 3 RightNow -->
					<div class="form-row">
						<div class="col">
							<label for="rightNow" title="Сколько денег вы готовы прямо сейчас инвестировать на брокерский счет?">Сколько денег прямо сейчас?</label>
							<div class="input-group">
								<span class="input-group-addon">{{current.cy}}</span>
								<input class="form-control" min="0" type="number" v-model.number="current.rightNow"  id="rightNow">
							</div>
						</div>

						<div class="col">
							<label for="pillowRightNow" title="в финансовую подушку прямо сейчас">Подушка</label>
							<div class="input-group">
								<span class="input-group-addon">{{current.cy}}</span>
								<input class="form-control" min="0" type="number" v-model.number="current.pillowRightNow"  id="pillowRightNow">
							</div>
						</div>

						<div class="col">
							<label for="reserveRightNow" title="в резервный фонд прямо сейчас">Резерв</label>
							<div class="input-group">
								<span class="input-group-addon">{{current.cy}}</span>
								<input class="form-control" min="0" type="number" v-model.number="current.reserveRightNow"  id="reserveRightNow">
							</div>
						</div>
					</div>
					<!-- / ROW 3 RightNow -->
					<br>
					<input class="btn btn-secondary btn-block" type="reset">
				</form>
			</fieldset>
		</div>
	</div>
</section>
</section>
<br>
<footer class="container">
	<div class="row">
		<div class="col col-lg">

		</div>
		<div class="col-md-auto justify-content-md-center">
			<h5 align="center">© 2017. All rights reserved</h5>
			<a class="github-button text-center" href="https://github.com/zhilyaev" data-size="large" aria-label="Follow @zhilyaev on GitHub">Follow @zhilyaev</a>
			<a class="github-button" href="https://github.com/zhilyaev/FinHelper" data-size="large" aria-label="Star zhilyaev/FinHelper on GitHub">Star</a>
			<a class="github-button" href="https://github.com/vonvee" data-size="large" aria-label="Follow @vonvee on GitHub">Follow @vonvee</a>
		</div>
		<div class="col col-lg">
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://unpkg.com/tooltip.js"></script>
<script src="js/bootstrap.js">
    $(function () {
        // Делаем красивый title
        $('[title]').tooltip();
    })
</script>
<script src="js/vue.js"></script>
<script src="js/date.js"></script>
<script src="js/calc.js"></script>
</body>
</html>
