<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Финасовый калькулятор</title>
	<meta name="author" content="Дмитрий Жиляев">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/title.css">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/manifest.json">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<br>
<section id="app">
	<section class="container">
		<fieldset>
			<legend style="background-color: #2f675c; padding: 20px;" class="rounded">
				<img src="logo/Logo-325.jpg" class="rounded float-lg-left" width="140">
				<h1 class="text-white lead" style="font-size: 72px; margin-top: 2%;">FinHelper 1.0</h1>
				<i class="text-white lead">#Simple & #Easy</i>
			</legend>
			<legend><h2 class="title">Расчет</h2></legend>
			<br>
			<form>
				<!-- ROW 1 inCom -->
				<div class="form-row">
					<div class="col-sm">
						<label for="inCom"><img src="svg/si-glyph-chart-column-increase.svg" width="26"> Доход в месяц</label>
						<div class="input-group">
							<span class="input-group-addon">{{current.cy}}</span>
							<input class="form-control" min="0" type="number" v-model.number="inCom" placeholder="60000" id="inCom">
						</div>
					</div>

					<div class="col">
						<label for="expense"><img src="svg/si-glyph-chart-column-decrease.svg" width="26"> Расход в месяц</label>
						<div class="input-group">
							<span class="input-group-addon">{{current.cy}}</span>
							<input class="form-control" min="0" type="number" v-model.number="expense" placeholder="30000" id="expense">
						</div>
					</div>

					<div class="col">
						<label title="Ежемесячные сбережения">Ежемесячные сбережения</label>
						<p>
							= <b>&nbsp;{{current.cy}} {{gain =inCom - expense}} </b>
						</p>
					</div>
				</div>
				<!-- / ROW 1 inCom -->
				<!-- ROW 2 brokerBag -->
				<div class="form-row">
					<div class="col-md">
						<label for="brokerBag" title="Сколько денег вы готовы прямо сейчас инвестировать на брокерский счет?">
							Текущая сумма инвестиций
							<img src="svg/si-glyph-circle-info.svg" width="16">
						</label>
						<div class="input-group">
							<span class="input-group-addon">{{current.cy}}</span>
							<input class="form-control" min="0" type="number" v-model.number="brokerBag"  id="brokerBag" placeholder="20000">
						</div>
					</div>

					<div class="col">
						<label for="pillowBag" title="В финансовую подушку прямо сейчас">Сейчас в подушке <img src="svg/si-glyph-circle-info.svg" width="16"></label>
						<div class="input-group">
							<span class="input-group-addon">{{current.cy}}</span>
							<input class="form-control" min="0" type="number" v-model.number="pillowBag" placeholder="20000"  id="pillowBag">
						</div>
					</div>

					<div class="col">
						<label for="reserveBag" title="В резервный фонд прямо сейчас">Сейчас в резерве <img src="svg/si-glyph-circle-info.svg" width="16"></label>
						<div class="input-group">
							<span class="input-group-addon">{{current.cy}}</span>
							<input class="form-control" min="0" type="number" v-model.number="reserveBag" placeholder="20000"  id="reserveBag">
						</div>
					</div>
				</div>
				<!-- / ROW 2 brokerBag -->
				<!-- ROW 3 Percent -->
				<div class="form-row">
					<div class="col-md">
						<label for="brokerPercent" title="Какой процент ежемесячных сбережений вы будете отправлять на брокерский счет">
							На Брокерский счет
							<img src="svg/si-glyph-circle-info.svg" width="16">
						</label>
						<div class="input-group">
							<label class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></label>
							<input class="form-control" v-model.number="brokerPercent" min="0" max="100" type="number" id="brokerPercent" placeholder="70">
							<span class="input-group-addon" title="Ежемесячный прирост на Брокерский счет" id="broker">{{broker = gain * brokerPercent/100}}</span>
						</div>
					</div>

					<div class="col-sm">
						<label for="pillowPercent" title="В финансовую подушку">В подушку <img src="svg/si-glyph-circle-info.svg" width="16"></label>
						<div class="input-group">
							<span class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></span>
							<input class="form-control" min="0" max="100" type="number" v-model.number="pillowPercent" id="pillowPercent" placeholder="20">
							<span class="input-group-addon" title="Ежемесячный прирост в Подушку" id="pillow">{{pillow = gain * pillowPercent/100}}</span>
						</div>
					</div>

					<div class="col-sm">
						<label for="reservePercent" title="В резервный фонд">В резерв <img src="svg/si-glyph-circle-info.svg" width="16"></label>
						<div class="input-group">
							<span class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></span>
							<input class="form-control" min="0" max="100" type="number" v-model.number="reservePercent" id="reservePercent" placeholder="10">
							<span class="input-group-addon" title="Ежемесячный прирост в Резерв" id="reserve">{{reserve = gain * reservePercent/100}}</span>
						</div>
					</div>
					<div class="col-sm">
						<label for="risk" title="Максимальный риск допустимый по вашему портфелю">Риск <img src="svg/si-glyph-circle-info.svg" width="16"></label>
						<div class="input-group">
							<span class="input-group-addon"><img src="svg/si-glyph-percent.svg" width="16"></span>
							<input class="form-control" min="0" max="30" type="number" v-model.number="risk" id="risk" placeholder="50">
						</div>
					</div>
				</div>
				<!-- / ROW 3 Percent -->
				<br>
			</form>
		</fieldset>
	</section>
	<section class="container">
		<div class="row">
			<div v-if="risk >0 && risk<=5" class="col-sm">
				<div class="card bg-secondary">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Облигации долгосрочные корпоративные Российские 37%</li>
						<li class="list-group-item">ETF на российские еврооблигации 25%</li>
						<li class="list-group-item">Среднесрочные государственные облигации 8%</li>
						<li class="list-group-item">Облигации долгосрочные государственные 20%</li>
						<li class="list-group-item">Среднесрочные облигации: Корпоративные Российские 16 %</li>
					</ul>
				</div>
			</div>
			<div v-if="risk>5 && risk<=12" class="col-sm">
				<div class="card bg-success">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Акции Российские из индекса ММВБ 18%</li>
						<li class="list-group-item">Акции США из Индекса SP 500 9%</li>
						<li class="list-group-item">Акции немецких компаний 6%</li>
						<li class="list-group-item">Золото 8 %</li>
						<li class="list-group-item">Акции Китайских компаний 7%</li>
						<li class="list-group-item">Облигации долгосрочные корпоративные Российские 17%</li>
						<li class="list-group-item">ETF на российские еврооблигации 13%</li>
						<li class="list-group-item">Облигации долгосрочные государственные 9%</li>
						<li class="list-group-item">Среднесрочные облигации: Корпоративные Российские  10%</li>
						<li class="list-group-item">Среднесрочные государственные облигации 3%</li>
					</ul>
				</div>
			</div>
			<div v-if="risk>12 && risk<=20" class="col-sm">
				<div class="card bg-warning">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Акции Российские из индекса ММВБ 24%</li>
						<li class="list-group-item">Акции США из Индекса SP 500 12%</li>
						<li class="list-group-item">Акции немецких компаний 7%</li>
						<li class="list-group-item">Золото 9%</li>
						<li class="list-group-item">Акции Китайских компаний 9%</li>
						<li class="list-group-item">Облигации долгосрочные корпоративные Российские 13%</li>
						<li class="list-group-item">ETF на российские еврооблигации 8%</li>
						<li class="list-group-item">Облигации долгосрочные государственные 8 %</li>
						<li class="list-group-item">Среднесрочные облигации: Корпоративные Российские 8%</li>
						<li class="list-group-item">Среднесрочные государственные облигации 2%</li>
					</ul>
				</div>
			</div>
			<div v-if="risk>20 && risk<=30" class="col-sm">
				<div class="card bg-danger">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Акции Российские из индекса ММВБ 30%</li>
						<li class="list-group-item">Акции США из Индекса SP 500 13%</li>
						<li class="list-group-item">Акции немецких компаний 8%</li>
						<li class="list-group-item">Золото 8%</li>
						<li class="list-group-item">Акции Китайских компаний 10%</li>
						<li class="list-group-item">Облигации долгосрочные корпоративные Российские 10%</li>
						<li class="list-group-item">ETF на российские еврооблигации 6%</li>
						<li class="list-group-item">Облигации долгосрочные государственные 6 %</li>
						<li class="list-group-item">Среднесрочные облигации: Корпоративные Российские 6%</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<br>
	<header class="container">
		<div class="form-row">
			<nav class="nav nav-tabs col">
				<!-- VUE RENDER MENU -->
				<a class="nav-item nav-link" v-for="(n, index) in goals.asArrayOfObj()" @click="setActive(index)" :class="{'active':index==i}"  href="#" onclick="return false">
					<b>{{n.name}}</b> #<i>{{index+1}}</i>
					<button v-if="goals.length>11" type="button" class="close" @click="delTab()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</a>
				<!-- / VUE RENDER MENU -->
				<a class="nav-item nav-link text-success" id="creator" href="#" onclick="return false" @click="newTab()">
					<img src="svg/si-glyph-folder-plus.svg" width="24">
					<b>Новая цель</b>
				</a>
			</nav>
			<div class="col-">
				<a class="btn btn-outline-danger" id="trash" href="#"
				   onclick="if(confirm('Это действие перезапустит приложения с чистого листа')){reloadApp()}">
					<img src="svg/si-glyph-trash.svg" width="24">
					<b>Сбросить цели</b>
				</a>
			</div>
		</div>
	</header>
	<section class="container" id="current">
		<div class="card">
			<div class="card-header">
				<h1>
					<img src="svg/si-glyph-square-star.svg" width="48">
					&nbsp;{{current.name}} #{{i+1}} <wbr>
					<small class="float-lg-right text-nowrap" title="Требуемая доходность инвестиций за полгода" data-placement="bottom">
						<img v-if="rate >= 0 && rate <= risk" src="svg/si-glyph-air-balloon.svg" width="48"> &nbsp;
						<span>
							<i v-if="rate < 0">Цель выполнится накоплением без вкладов</i>
							<i v-else-if="rate > risk">Слишком большой риск</i>
							<i v-else>{{rate}}</i>
						</span>
						<img v-if="rate >= 0 && rate <= risk" width="32" src="svg/si-glyph-percent.svg">
					</small>
				</h1>
			</div>
			<div class="card-body">
				<fieldset>
					<form>
						<!-- / ROW 1  -->
						<div class="form-row">
							<div class="col-sm">
								<label for="prior"><b>#</b></label>
								<label for="name" style="margin-left: 80px;">Название:</label>
								<div class="input-group">
									<div class="input-group-btn">
										<select class="form-control custom-select" id="prior" title="Приоритет">
											<!-- Max prior = count of goals -->
											<option v-for="n in goals.length-10" :value="n-1" :selected="n==i+1">{{n}}</option>
										</select>
									</div>
									<label class="input-group-addon" for="name"><img src="svg/si-glyph-square-star.svg" width="16"></label>
									<input class="form-control" value="Цель" id="name" v-model="current.name" placeholder="На Яхту">
								</div>
							</div>

							<div class="col-sm">
								<label for="dream" title="Необходимая сумма для достижения цели"><img src="svg/si-glyph-piggy-bank.svg" width="26">Стоимость цели <img src="svg/si-glyph-circle-info.svg" width="16"></label>
								<div class="input-group">
									<div class="input-group-btn">
										<select class="form-control custom-select" id="cy" v-model="current.cy" title="Выберите валюту">
											<option>₽</option>
											<option>$</option>
											<option>€</option>
										</select>
									</div>
									<input class="form-control" min="0" type="number" v-model.number="current.dream" id="dream" placeholder="10000">
								</div>
							</div>
						</div>
						<!-- / ROW 1  -->
						<!--  ROW 2 Date -->
						<div class="form-row">
							<div class="col-sm">
								<label for="dateStart" title="Дата в которую будет открыт счет">Срок от <img src="svg/si-glyph-circle-info.svg" width="16"></label>
								<div class="input-group">
									<label class="input-group-addon" for="dateStart"><img src="svg/si-glyph-calendar-1.svg" width="16"></label>
									<input class="form-control" type="date" v-model.lazy="current.dateStart" id="dateStart">
								</div>
							</div>

							<div class="col-sm">
								<label for="dateFinish" title="Дата в которую будет закрыт счет">Дата реализации цели <img src="svg/si-glyph-circle-info.svg" width="16"></label>
								<div class="input-group">
									<label class="input-group-addon" for="dateFinish"><img src="svg/si-glyph-calendar-1.svg" width="16"></label>
									<input class="form-control" type="date" v-model.lazy="current.dateFinish" id="dateFinish">
								</div>
							</div>

							<div class="col">
								<label> Срок вклада (в  месяцах): </label>
								<p>
									= <b> {{current.diffMonths = Date.diff(new Date(current.dateStart), new Date(current.dateFinish))[1]}}</b>
								</p>
							</div>
						</div>
						<!-- / ROW 2 Date -->
						<br>
						<!-- button
						<div class="form-row justify-content-lg-center">
							<a href="#" class="btn-outline-primary btn-lg btn btn-block col-6"  data-toggle="modal" data-target="#modal">
								<img src="svg/si-glyph-button-arrow-down.svg" width="26">
								<b>Получить личный финасовый план</b>
							</a>
						</div>
						<!-- -->
					</form>
				</fieldset>
			</div>
		</div>
	</section>
	<section class="container">
		<table id="tablePDF" class="table text-center table-inverse text-center">
			<thead>
			<tr class="text-center">
				<th class="text-center" id="tableDate" nowrap>Дата</th>
				<th class="text-center" id="tableTotalMoney">Все деньги</th>
				<th class="text-center" id="tableBroker">На брокерском счете</th>
				<th class="text-center" id="tablePillow">В подушке
					<small title="Максимальное комфортное значение">(x / {{ pillowMax }})</small>
				</th>
				<th class="text-center" id="tableReserve">В резерв
					<small title="Максимальное комфортное значение">(x / {{ reserveMax  }})</small>
				</th>
				<th class="text-center" id="tableChecked">!</th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="(n, index) in calcTable" :class="{'bg-success':n.checked}">
				<td headers="tableDate" :class="{'bg-primary':(index+1)%6===0}">{{n.date}}</td>
				<td headers="tableTotalMoney">{{n.totalMoney}}</td>
				<td headers="tableBroker">{{n.broker}}</td>
				<td headers="tablePillow">{{n.pillow}}<span v-if="pillowMax>n.pillow">/{{ pillowMax }}</span></td>
				<td headers="tableReserve">{{n.reserve}}<span v-if="reserveMax>n.reserve">/{{reserveMax }}</span></td>
				<td headers="tableChecked">
					<b v-if="n.checked">
						{{n.name}} <wbr>
						<img src="svg/si-glyph-checked.svg" width="20">
					</b>
				</td>
			</tr>
			</tbody>
		</table>
	</section>
</section><!-- / app -->
<br>
<footer class="container">
	<div class="row">
		<div class="col-lg justify-content-lg-center">
			<div class="align-content-lg-center" align="center">
				<img src="svg/si-glyph-code.svg" align="center" width="120">
			</div>
			<h5 align="center">© 2017. All rights reserved</h5>
			<div class="align-content-lg-center" align="center">
				<iframe src="https://ghbtns.com/github-btn.html?user=zhilyaev&type=follow&size=large" frameborder="0" scrolling="0" width="177px" height="30px"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=zhilyaev&repo=FinHelper&type=star&size=large" frameborder="0" scrolling="0" width="75px" height="30px"></iframe>
				<iframe src="https://ghbtns.com/github-btn.html?user=vonvee&type=follow&size=large" frameborder="0" scrolling="0" width="177px" height="30px"></iframe>
			</div>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://unpkg.com/tooltip.js"></script>
<!-- TODO Don`t forget make min.js
<script src="libs/jspdf.debug.js"></script>
<script src="js/pdf.js"></script>
-->
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="js/date.js"></script>
<script src="js/calc.js"></script>
<script>
    $(function () {
        // Делаем красивый title
        $('[title]').tooltip();
    })
</script>
</body>
</html>